*
  font: 1em Helvetica, Arial, sans-serif

a.active
  background: #444
  color: #FFF !important

header a, h1
  font: 1.2em 'Pathway Gothic One'
  letter-spacing: 0.05em
  text-transform: uppercase

html, body
  margin: 0
  height: 100%
  padding: 0

#app
  background: #069
  color: #FFF
  display: flex
  flex-direction: column
  min-height: 100%
  a
    color: #FFF
    text-decoration: none
  > header
    align-items: center
    display: flex
    justify-content: space-between
    h1
      font-size: 1.6em
      margin: 1em 0.6em
    nav
      a
        font: 1.2em 'Pathway Gothic One', sans-serif
        border-bottom: 2px solid transparent
        display: inline-block
        letter-spacing: 0.05em
        margin: 1em
        text-transform: uppercase
      &#primary
        a:hover
          border-bottom: 2px solid #FFF
      &#user
        background: #000
  > main
    background: #FFF
    color: #111
    display: flex
    flex: 1
    h1
      color: #333
      font-size: 1.6em
      margin: 0
      padding: 0.25em 0
    a
      color: #069
  > footer
    padding: 1em
    text-align: right
    p
      font-size: 0.8em
      margin: 0 0 0.4em 0

#home
  position: relative
  h1
    position: absolute
    margin: 1em !important

#projects
  display: flex
  width: 100%
  header
    h1
      color: #FFF
      font-size: 2em
      padding: 1em 0.5em 0.5em 0.5em
  > header
    background: #EEE
    width: 15em
    align-items: stretch
    h1
      background: rgba(#069, 0.5)
    ul
      list-style: none
      margin: 0
      padding: 0
      li
        border-bottom: 1px solid #CCC
        a
          display: block
          padding: 0.5em 1em
          &:hover
            background: #CCC
  #project
    flex: 1
    > header
      align-items: center
      background: #369
      display: flex
      h1
        flex: 1
      nav
        a
          background: #000
          color: #FFF
          display: inline-block
          padding: 0.5em
          margin: 0 0.25em
    > main
      margin: 1em
      .description
        p
          font-size: 1.4em
#app main .page
  > header
    background: #396
    padding: 4em 1em 1em 1em
    h1
      color: #FFF
      font-size: 2.5em
      font-weight: bold
      letter-spacing: -0.1em